* {
  margin: 0;
  padding: 0;
  background: #e2e2e2;
}

fieldset, img {
  border: 0;
}

ol, ul {
  list-style: none;
}

a:active, a:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, span {
  font-size: 100%;
  font-weight: normal;
  letter-spacing: -2px
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #3F434B;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}

a, a:visited {
  text-decoration: none;
  color: #2b78f6;
}

a:hover {
  text-decoration: none;
  color: #F6432A;
}

.container {
  margin-top: 50px;
  text-align: left;
  display: table;
  width: 85%;
}

.textbox, .imgbox {
  display: table-cell;
  vertical-align: middle;
}

.textbox {
  padding: 62px 85px;
  min-width: 295px;
  width: 295px;
}

h1 {
  font-weight: normal;
  max-width: 80%;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 70px;
}

p {
  margin-bottom: 28px;
  max-width: 80%;
}

#index {
  max-width: 295px;
}

@media screen and (max-width: 600px) {
  .imgbox {
    display: none;
  }
  .textbox {
    padding: 30px;
  }
  .container {
    margin-top: 0px;
  }
  body {
    line-height: 23px;
  }
}
